* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana';
    box-sizing: border-box;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #0d3d56, #5d0043);
    padding: 10px;
}
.tarefas {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}